# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.set_index('Serial No.')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
6,321,109,3,3.0,4.0,8.20,1,0.75
7,308,101,2,3.0,4.0,7.90,0,0.68
8,302,102,1,2.0,1.5,8.00,0,0.50
9,323,108,3,3.5,3.0,8.60,0,0.45
10,327,111,4,4.0,4.5,9.00,1,0.84
11,328,112,4,4.0,4.5,9.10,1,0.78
12,307,109,3,4.0,3.0,8.00,1,0.62
13,311,104,3,3.5,2.0,8.20,1,0.61
14,314,105,3,3.5,2.5,8.30,0,0.54
15,317,107,3,4.0,3.0,8.70,0,0.66
16,319,106,3,4.0,3.0,8.00,1,0.65
17,318,110,3,4.0,3.0,8.80,0,0.63
18,303,102,3,3.5,3.0,8.50,0,0.62
19,325,114,4,3.0,2.0,8.40,0,0.70
20,328,116,5,5.0,5.0,9.50,1,0.94
21,334,119,5,5.0,4.5,9.70,1,0.95
22,336,119,5,4.0,3.5,9.80,1,0.97
23,322,109,5,4.5,3.5,8.80,0,0.76
24,298,98,2,1.5,2.5,7.50,1,0.44
25,295,93,1,2.0,2.0,7.20,0,0.46
26,310,99,2,1.5,2.0,7.30,0,0.54
27,300,97,2,3.0,3.0,8.10,1,0.65
28,327,103,3,4.0,4.0,8.30,1,0.74
29,338,118,4,3.0,4.5,9.40,1,0.91
30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...
356,310,103,2,2.5,2.5,8.24,0,0.72
357,324,110,3,3.5,3.0,9.22,1,0.89
358,336,119,4,4.5,4.0,9.62,1,0.95
359,321,109,3,3.0,3.0,8.54,1,0.79
360,315,105,2,2.0,2.5,7.65,0,0.39
361,304,101,2,2.0,2.5,7.66,0,0.38
362,297,96,2,2.5,2.0,7.43,0,0.34
363,290,100,1,1.5,2.0,7.56,0,0.47
364,303,98,1,2.0,2.5,7.65,0,0.56
365,311,99,1,2.5,3.0,8.43,1,0.71
366,322,104,3,3.5,4.0,8.84,1,0.78
367,319,105,3,3.0,3.5,8.67,1,0.73
368,324,110,4,4.5,4.0,9.15,1,0.82
369,300,100,3,3.0,3.5,8.26,0,0.62
370,340,113,4,5.0,5.0,9.74,1,0.96
371,335,117,5,5.0,5.0,9.82,1,0.96
372,302,101,2,2.5,3.5,7.96,0,0.46
373,307,105,2,2.0,3.5,8.10,0,0.53
374,296,97,2,1.5,2.0,7.80,0,0.49
375,320,108,3,3.5,4.0,8.44,1,0.76
376,314,102,2,2.0,2.5,8.24,0,0.64
377,318,106,3,2.0,3.0,8.65,0,0.71
378,326,112,4,4.0,3.5,9.12,1,0.84
379,317,104,2,3.0,3.0,8.76,0,0.77
380,329,111,4,4.5,4.0,9.23,1,0.89
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [15]:
# Your code here:
admissions.groupby('GRE Score').nunique()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,,,,,,,,,
290,2,1,2,2,2,2,2,1,2
293,1,1,1,1,1,1,1,1,1
294,2,1,2,1,1,2,2,1,2
295,4,1,4,2,3,2,4,1,4
296,5,1,4,2,3,4,5,2,5
297,4,1,3,2,2,3,4,1,4
298,7,1,5,3,4,4,7,2,7
299,8,1,6,3,6,4,8,1,8
300,9,1,6,3,5,4,9,2,8
301,8,1,7,4,4,4,8,2,6
302,5,1,3,3,4,4,5,1,5
303,5,1,5,4,4,4,5,2,5
304,8,1,6,4,5,6,8,2,8
305,7,1,7,3,3,4,7,1,6
306,6,1,5,1,4,3,6,2,6
307,8,1,7,3,4,3,8,2,8
308,11,1,7,3,4,5,11,2,10
309,5,1,5,2,4,3,5,1,5
310,8,1,6,3,5,5,8,2,7
311,11,1,7,4,6,6,11,2,10
312,16,1,11,4,8,5,16,2,14
313,11,1,8,2,4,6,11,2,9
314,14,1,9,3,7,6,14,2,12
315,10,1,8,3,6,4,10,2,9
316,12,1,10,3,6,6,12,2,10
317,12,1,7,2,6,6,12,2,9
318,9,1,6,3,5,3,9,2,7
319,9,1,6,3,5,4,9,2,9
320,12,1,8,4,7,6,12,2,10
321,13,1,6,4,6,5,13,2,12
322,14,1,8,4,5,6,14,2,11
323,10,1,6,3,2,5,10,2,7
324,16,1,8,3,6,8,16,2,10
325,11,1,6,3,4,6,11,2,10
326,10,1,7,4,4,3,10,2,8
327,12,1,8,3,5,5,12,2,10
328,6,1,5,2,3,4,6,1,5
329,9,1,5,3,4,4,9,1,7
330,6,1,4,3,2,3,6,1,4
331,8,1,6,3,3,4,8,1,5
332,6,1,4,3,2,4,6,2,3
333,4,1,4,2,2,3,4,1,4
334,7,1,5,2,3,5,7,1,6
335,4,1,3,2,2,3,4,1,3
336,5,1,3,2,3,3,5,1,5
337,1,1,1,1,1,1,1,1,1
338,4,1,4,2,4,2,4,1,2
339,3,1,3,2,2,3,3,2,2
340,7,1,5,2,3,3,7,1,4

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [18]:
# Your code here:
admissions['GRE+CGPA'] = admissions['GRE Score'] + admissions['CGPA']

0      346.65
1      324.00
2      330.67
3      322.21
4      339.34
5      329.20
6      315.90
7      310.00
8      331.60
9      336.00
10     337.10
11     315.00
12     319.20
13     322.30
14     325.70
15     327.00
16     326.80
17     311.50
18     333.40
19     337.50
20     343.70
21     345.80
22     330.80
23     305.50
24     302.20
25     317.30
26     308.10
27     335.30
28     347.40
29     349.60
        ...
355    318.24
356    333.22
357    345.62
358    329.54
359    322.65
360    311.66
361    304.43
362    297.56
363    310.65
364    319.43
365    330.84
366    327.67
367    333.15
368    308.26
369    349.74
370    344.82
371    309.96
372    315.10
373    303.80
374    328.44
375    322.24
376    326.65
377    335.12
378    325.76
379    338.23
380    333.04
381    334.11
382    339.45
383    320.78
384    342.66
Name: GRE+CGPA, Length: 385, dtype: float64

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [8]:
# Your code here:

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [9]:
# Your code here:

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [10]:
# Your code here:

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [11]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [12]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [13]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [14]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [15]:
# Your code here: